analysis/
captioning SVG/
papers generali/
esempi/
wandb/
__pycache__/
*.DS_Store
*.log
*.aux
*.out
*.toc
*.fls
*.fdb_latexmk
*.bbl
*.blg

# Large files
*.html
remote_snapshot/
Black White Modern Gradient Thesis Defense Presentation.pdf
extracted_metadata.txt
file_lines.txt
filezz.txt
multi_model_comparison*.html
server_*.html
*.icc
test_output.pdf
880*.pdf
880*.docx
Logo_B*.jpg
